div.screenshots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  column-gap: 1rem;
}

div.card.card-body {
  overflow-x: scroll;
}

div.game-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem
}