.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding-inline: 1rem;
}

.wrapper {
    min-width: 375px;
    width: 100%;
    max-width: 1024px;
}