footer,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    bottom: 0;
}

ul {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

li {
    display: inline;
}

p {
    text-align: center;
}

footer {
    background-color: aqua;
}

footer {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {
    footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}