body * {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
label,
select,
option
 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-variation-settings:
        "wdth" 100;
}

a {
    font-weight: 500;
}


/* h1 {
    font-size : clamp(2rem, 10vw, 5rem);
}

p {
    font-size : clamp(1rem, 5vw, 1.5rem);
}

li {
    font-size : clamp(0.5rem, 2.5vw, 1rem);
} */