body * {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* h1 {
    font-size : clamp(2rem, 10vw, 5rem);
}

p {
    font-size : clamp(1rem, 5vw, 1.5rem);
}

li {
    font-size : clamp(0.5rem, 2.5vw, 1rem);
} */